*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:#e2e8f0;
padding:40px;
}

h1{
text-align:center;
color:#38bdf8;
margin-bottom:30px;
}

#cadastro-filmes{
background:#1e293b;
padding:20px;
border-radius:8px;
width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

input,select{
padding:10px;
border-radius:6px;
border:1px solid #334155;
background:#0f172a;
color:white;
}

button{
display:block;
margin:20px auto;
padding:10px 20px;
background:#38bdf8;
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}

table{
width:90%;
margin:40px auto;
border-collapse:collapse;
background:#1e293b;
}

th{
background:#0f172a;
color:#38bdf8;
padding:12px;
}

td{
padding:10px;
text-align:center;
border-bottom:1px solid #334155;
}